<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>Incident Report</title>
    <script>
        function confirmDelete(form) {
            var password = prompt("管理者パスワードを入力してください:");
            if (password !== null && password !== "") {
                form.adminPassword.value = password;
                form.submit();
            }
        }
    </script>
</head>

<body>

<header>
    <div class="header-container">
        <a th:href="@{/}">IncidentApp</a>
    </div>
</header>

<div class="page-title">
    <h1>インシデントレポート一覧</h1>
</div>

<div class="search_form">
    <form th:action="@{/searchIncidents}" method="get">
        <div class="form-row">
            <div class="form-group">
                <label for="year">年:</label>
                <input type="number" id="year" name="year" placeholder="YYYY" value="[[${#dates.yearOfToday()}]]" />
            </div>
            <div class="form-group">
                <label for="month">月:</label>
                <input type="number" id="month" name="month" placeholder="MM" value="[[${#dates.monthOfToday()}]]" />
            </div>
            <div class="form-group">
                <label for="department">所属科:</label>
                <input type="text" id="department" name="department" />
            </div>
            <div class="form-group">
                <label for="job">職種:</label>
                <input type="text" id="job" name="job" />
            </div>
        </div>
        <div class="button-row">
            <button type="submit">検索</button>
        </div>
    </form>
</div>

<div class="create-link">
    <a th:href="@{/incidentForm}">新規作成</a>
</div>

<table class="incident-table">
    <thead>
    <tr>
        <th>レベル</th>
        <th>日付</th>
        <th>分類</th>
        <th>所属科</th>
        <th>職種</th>
        <th class="header-detail">編集</th>
        <th class="header-delete">削除</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="incident : ${incidents}">
        <td th:text="${incident.level}"></td>
        <td th:text="${incident.date}"></td>
        <td th:text="${incident.category1 + ' ／ ' + incident.category2}"></td>
        <td th:text="${incident.department}"></td>
        <td th:text="${incident.job}"></td>
        <td>
            <form th:action="@{/incidents/{id}(id=${incident.id})}" method="get">
                <button type="submit">編集</button>
            </form>
        </td>
        <td>
            <form th:action="@{/incidents/{id}/delete(id=${incident.id})}" method="post" onsubmit="event.preventDefault(); confirmDelete(this);">
                <input type="hidden" name="adminPassword" />
                <button type="submit">削除</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h2 class="totalling_top">インシデント集計</h2>
<div id="charts" style="display: flex; justify-content: space-around;">
    <div id="categoryChartContainer" style="height: 370px; width: 45%;"></div>
    <div id="levelChartContainer" style="height: 370px; width: 45%;"></div>
    <div id="departmentChartContainer" style="height: 370px; width: 45%;"></div>
    <div id="jobChartContainer" style="height: 370px; width: 45%;"></div>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var categoryDataPoints = /*[[${categoryCounts}]]*/;
    var levelDataPoints = /*[[${levelCounts}]]*/;
    var departmentDataPoints = /*[[${departmentCounts}]]*/;
    var jobDataPoints = /*[[${jobCounts}]]*/;

    var createChart = function(containerId, title, dataPoints) {
        var chart = new CanvasJS.Chart(containerId, {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: title,
                fontSize: 20 // 見出しのフォントサイズを小さくする
            },
            data: [{
                type: "pie",
                startAngle: 270,
                indexLabel: "{label} - {y}",
                dataPoints: Object.keys(dataPoints).map(function(key) {
                    return { label: key, y: dataPoints[key] };
                })
            }]
        });
        chart.render();
    };

    createChart("categoryChartContainer", "インシデントカテゴリー別件数", categoryDataPoints);
    createChart("levelChartContainer", "レベル別件数", levelDataPoints);
    createChart("departmentChartContainer", "部署別件数", departmentDataPoints);
    createChart("jobChartContainer", "職種別件数", jobDataPoints);
    /*]]>*/
</script>
</body>
</html>
