<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopPage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="header-container">
        <a th:href="@{/}">IncidentApp</a>
    </div>
</header>

</div>
<div class="top_page">
    <div class="top_page_upper">
        <img src="/images/Incidentapp.jpg" alt="TopImage">
    </div>
    <div class="top_page_menu">
        <h1>メニュー</h1>
        <ul>
            <li><a href="/index">・インシデント一覧画面</a></li>
            <li><a href="/incidentForm">・新規作成画面</a></li>
            <li><a href="/annualSummary">・年次集計画面</a></li>
        </ul>
    </div>
</div>
</body>
</html>
